/*Ce module css est appelé dans les composant suivant : 

NavMobile.tsx
from "../NavMobile//NavMobile.tsx"

NavPC.tsx
from "../NavPC/NavPC.tsx"
*/

/*------------------------------------------------------*/

/*Style version Mobile*/

.MenuUlMobile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    list-style-type: none;
    padding: 0;
    margin: 0px 0px 0px 1.5rem;
}

.MenuLiMobile {
    margin: 0.5rem 0rem 0.5rem 0rem;
    cursor: pointer;
}

.MenuLinkMobile {
    text-decoration: none;
    font-size: var(--h3);
    color: var(--ColorPrincipal);
}
@media (min-width: 0px) and (max-width: 400px) {
    .MenuLinkMobile {
        font-size: var(--h5);
    }
}
@media (min-width: 300px) and (max-width: 400px) {
    .MenuLinkMobile {
        font-size: var(--h4);
    }
}

.SpanPortraitsMobile {
    font-size: var(--h6);
}

/* Sous menu de Portraits*/
.SubMenuUlMobile {
    list-style: none;
    padding-left: 1rem;
    margin: 0.5rem 0;
}

.SubMenuLiMobile {
    margin: 0.5rem 0;
}

.SubMenuLinkMobile {
    font-size: calc(var(--h3) - 1px);
    color: var(--ColorPrincipal);
    text-decoration: none;
}
@media (min-width: 0px) and (max-width: 300px) {
    .SubMenuLinkMobile {
        font-size: calc(var(--h5) - 1px);
    }
}
@media (min-width: 300px) and (max-width: 400px) {
    .SubMenuLinkMobile {
        font-size: calc(var(--h4) - 1px);
    }
}


/*Style version PC*/

.MenuUlPC {
    display: flex;
    justify-content: space-between;
    padding: 0;
    width: 80%;
}

.MenuLiPC {
    list-style: none;
    margin: 0;
}

.MenuLinkPC {
    display: inline-block;
    font-size: var(--h4);
    text-decoration: none;
    color: var(--ColorPrincipal);
    transition: transform 0.3s ease, color 0.2s ease;
}
.MenuLinkPC:hover {
    transform: scale(1.2); /* Augmente légèrement la taille */
    color: white; /* Change la couleur en blanc */
}

.SpanPortraitsPC {
    font-size: var(--h6);
}

/* Sous menu de Portraits*/
.SubMenuUlPC {
    list-style: none;
    padding-left: 1rem;
    margin: 0.5rem 0;
}

.SubMenuLiPC {
    margin: 0.5rem 0;
}

.SubMenuLinkPC {
    display: inline-block;
    font-size: var(--h5);
    color: var(--ColorPrincipal);
    text-decoration: none;
    transition: color 0.2s ease;
}

.SubMenuLinkPC:hover {
    transform: scale(1.2);
    color: white;
}
