.MenuLiPC {
    list-style: none;
    margin: 0rem;
}

.OpenBtn {
    display: inline-block; /* */
    font-size: var(--h4);
    text-decoration: none;
    color: var(--ColorTextNavRootBlack);
    transition: transform 0.3s ease, color 0.2s ease;
    white-space: nowrap;
}
.OpenBtn:hover {
    transform: scale(1.2); /* Augmente légèrement la taille */
    color: var(--ColorTextPink);
}

.IconOpenBtn {
    position: relative;
    font-size: var(--h6);
    z-index: 5; /* Met le bouton d'ouverture 5 Niv au dessus du menu burger */
    cursor: pointer;
    padding: 0rem;
}

.ButtonSubMenuPC {
    position: fixed;
    top: 0rem;
    left: 0rem;
    z-index: 4; /* Place le boutton de fermeture juste en dessous du sous menu */
    width: 100vw;
    height: 100vh;
    background-color: transparent;
    background: none;
    padding: 0rem;
    margin: 0rem;
    border: 0rem;
    outline: none;
    opacity: 0;
    cursor: pointer;

    /* Masquer le texte de manière propre et accessible */
    text-indent: -625rem; /* 10000px */
    white-space: nowrap;
    overflow: hidden;
    color: transparent;
}

.SubMenuUlPC {
    position: absolute;
    z-index: 5; /* Place le sous menu au même niveau que le bouton PRESTATIONS */
    list-style: none;
    margin: 0.5rem 0rem; /* 8px 0px 8px 0px */
    padding: 0rem;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px;
}

.SubMenuLiPC {
    padding: 0.25rem 1rem; /* 4px 16px 4px 16px */
    background-color: var(--ColorBackgroundGray_Option1);
}

.SubMenuLiTopPC {
    border-top: 0.09375rem solid var(--ColorBackgroundWhite); /* 1.5px */
    border-left: 0.09375rem solid var(--ColorBackgroundWhite); /* 1.5px */
    border-right: 0.09375rem solid var(--ColorBackgroundWhite); /* 1.5px */
}

.SubMenuLiBottomPC {
    border: 0.09375rem solid var(--ColorBackgroundWhite); /* 1.5px */
}

.SubMenuLinkPC {
    display: inline-block;
    font-size: var(--h4);
    text-decoration: none;
    color: var(--ColorTextBlack);
    transition: transform 0.3s ease, color 0.2s ease;
    white-space: nowrap;
}
.SubMenuLinkPC:hover {
    transform: scale(1.2); /* Augmente légèrement la taille */
    color: var(--ColorTextPink);
}