.HomePCAutorComposantB {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    max-width: 1432px;
    margin: 0px;
    padding: 0px;
    border: 0px;
}
@media (max-width: 1000px) {
    .HomePCAutorComposantB {
        display: none;
    }
}

.ContainerTitle {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;
    margin: 0px;
    padding: 0px;
    border: 0px;
}

.Title {
    font-size: var(--h2);
    margin: 20px 24px 20px 24px;
    padding: 0px;
    border: 0px;
    font-family: "Saira Condensed", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.ContainerProfilCard {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0px 0px 20px 0px;
    padding: 0px;
    border: 0px;
}

.ContainerPortraitAutor {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 248px;
    margin: 0px;
    padding: 0px;
    border: 0px;
}

.AutorImg {
    width: 200px;
    margin: 0px 24px 0px 24px;
}

.AutorName {
    font-size: var(--h4);
    max-width: 100%;
    margin: 0px;
    padding: 0px;
    border: 0px;
}

/*--------------------------------------------*/

.ContainerText {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    width: 100%;
    margin: 0px;
    padding: 0px;
    border: 0px;
}

.Text {
    font-size: var(--h4);
    margin: 0px 24px 0px 0px;
    padding: 0px 0px 20px 0px;
}

.SpanLink > a {
    display: inline-block;
    text-decoration: underline;
    font-size: var(--p);
    font-weight: bold;
    margin: 0px;
    padding: 0px;
    border: 0px;
    color: var(--ColorLink);
    transition: transform 0.2s ease-in-out; /* Effet fluide */
}

.SpanLink > a:hover {
    transform: scale(1.01); /* Grossissement de 10% */
}
