.ContactRoot {
    margin: 4rem 0rem; /* 64px 0px 64px 0px */
}

  .Subtitle {
      color: var(--ColorGreyBlack);
      text-align: center;
      margin-bottom: 2rem; /* 32px 0px 32px 0px */
}
  
.ContactContainer {
    gap: 1.5rem; /* 24px */
}
  
.ContactItem {
    display: flex;
    align-items: center;
    gap: 0.75rem;
    font-size: var(--h3); /* 18px */
    text-decoration: none;
    color: var(--ColorPink);
    transition: transform 0.2s ease, color 0.2s ease;
}
  
.ContactItem:hover {
    transform: scale(1.05);
    color: var(--ColorPink);
}

  