.HomePage,
.Main, 
.Footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.Header {
    width: 100%;
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
}    
