.ContainerTitle {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    width: 100%;
    margin: 0rem;
    padding: 0rem;
    border: 0rem;
}

.TitleH1 {
    color : var(--ColorTextBlack);
    font-weight: var(--font-weight-title);
    font-style: var(--font-style-title);
    font-size: var(--h3); /* 18px */
    font-display: swap;
    text-align: center;
    width: 100%;
    margin: 0rem;
    padding: 1.25rem 1.25rem 0rem 1.25rem; /* 20px 20px 0px 20px */
    border: 0rem;
}
@media (min-width: 25rem) { /* 400px */
    .TitleH1 {
        font-size: var(--h2); /* 24px */
    }
}
@media (min-width: 31.25rem) { /* 500px */
    .TitleH1 {
        font-size: var(--h1); /* 32px */
    }
}
