@import "./root.css";

.AppContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    margin: 0;
    border: 0;
    padding: 0;
    /* background: linear-gradient(135deg, #f3f3f3, #f5fbff); */
}
