@import "./assets/Fonts/Quicksand/stylesheet.css";
@import "./assets/Fonts/AnneSignature/stylesheet.css";
@import "./assets/Fonts/SairaCondensed/stylesheet.css";

:root {
    /* ✨ Couleur des textes */
        /* Couleur des textes général Restructuration */
            --ColorTextWhite: rgb(255, 255, 255); /* Vérifier pour refacto ok */
            --ColorTextBlack: rgb(0, 0, 0); /* Vérifier pour refacto ok */
            --ColorTextWhiteGrey: #ccc; /* Vérifier pour refacto ok */
            --ColorTextGreyBlack: #555; /* Vérifier pour refacto ok */
            --ColorTextDark: #333; /* Vérifier pour refacto ok */
            --ColorTextDarkDark: #222; /* Vérifier pour refacto ok */
            --ColorTextGold: #ffd700; /* Vérifier pour refacto ok */
            --ColorTextPink: #ff0080; /* Vérifier pour refacto ok */
            --ColorTextPurple: rgb(138, 43, 226); /* Vérifier pour refacto ok */
            --ColorTextLink: rgb(14, 83, 193); /* Vérifier pour refacto ok */
            --ColorButtonAvis: #0056b3; /* Vérifier pour refacto ok */

        /* Couleurs textes Nav Target Home */
            --ColorTextNavHomeWhite: rgb(255, 255, 255); /* Vérifier pour refacto ok */
            --ColorTextNavHomeBlack: rgb(0, 0, 0); /* Vérifier pour refacto ok */
            --ColorTextNavHomePink: #ff0080; /* Vérifier pour refacto ok */
            --ColorTextNavHomeLink: rgb(14, 83, 193); /* Vérifier pour refacto ok */
            
            /* Couleurs textes Nav Root */
                --ColorTextNavRootBlack: rgb(0, 0, 0); /* Vérifier pour refacto ok */
                --ColorTextNavRootDarkBrown: #3a240f; /* Vérifier pour refacto ok */
                --ColorTextNavRootPink: #ff0080; /* Vérifier pour refacto ok */
                --ColorTextNavRootLink: rgb(14, 83, 193); /* Vérifier pour refacto ok */
            
            /* Couleurs texte Footer */
                --ColorTextFooterWhite: rgb(255, 255, 255); /* Vérifier pour refacto ok */
                --ColorTextFooterPink: #ff0080; /* Vérifier pour refacto ok */

            /* Couleurs texte intérieur Tarif Card */
                --ColorTextCardTarif_Black-Grey: #222; /* Vérifier pour refacto ok */
                --ColorTextCardTarif_Grey: #666; /* Vérifier pour refacto ok */
                --ColorTextCardTarif_Button: rgb(255, 255, 255); /* Vérifier pour refacto ok */
        
        /* Couleur texte de la page admin */
            /* Couleur texte des boutons de services */
                --ColorTextAdminButton_EtatOn: #065f46; /* Vérifier pour refacto ok */
                --ColorTextAdminButton_EtatOff: #991b1b; /* Vérifier pour refacto ok */
                --ColorTextAdminButton_Title: #333; /* Vérifier pour refacto ok */

    /* ✨ Couleur background du site */
        /* Couleur backgound général hors nav, footer et menu burger */
            --ColorBackgroundLeft: #f3f3f3; /* Vérifier pour refacto ok */
            --ColorBackgroundRight: #f5fbff; /* Vérifier pour refacto ok */
        
        /* Assombrissement tiré vers le noir */
            --ColorBackgroundBlack_40: rgba(0, 0, 0, 0.4); /* Vérifier pour refacto ok */
            --ColorBackgroundBlack_50: rgba(0, 0, 0, 0.5); /* Vérifier pour refacto ok */
            --ColorBackgroundBlack_80: rgba(0, 0, 0, 0.8); /* Vérifier pour refacto ok */

        /* Couleur Background Nav Target Home */
            --ColorBackgroundNavHomeWhite: rgb(255, 255, 255); /* Vérifier pour refacto ok */
            --ColorBackgroundNavHomeBlack: rgb(0, 0, 0); /* Vérifier pour refacto ok */
            --ColorBackgroundNavHomeGrey: rgba(218, 216, 216, 0.882); /* Vérifier pour refacto ok */
            
            /* Couleur Background Nav Root */
            --ColorBackgroundNavRootWhite: rgb(255, 255, 255); /* Vérifier pour refacto ok */
            --ColorBackgroundNavRootBlack: rgb(0, 0, 0); /* Vérifier pour refacto ok */
            --ColorBackgroundNavRootGrey: rgba(218, 216, 216, 0.882); /* Vérifier pour refacto ok */

        /* Couleur Background des Tarif Card sur chacun des pages de prestations de service */
            /* Fond couleur background du container card tarif */
                --ColorBackgroundTarifCard_ContainerLeft: #f5f5f5; /* Vérifier pour refacto ok */
                --ColorBackgroundTarifCard_ContainerRight: #eaeaea; /* Vérifier pour refacto ok */
            /* Background intérieur des cartes tarifs */
                --ColorBackgroundTarifCard_Clear_55_White: rgba(255, 255, 255, 0.55); /* Vérifier pour refacto ok */
                --ColorBackgroundTarifCard_Clear_40_White: rgba(255, 255, 255, 0.4); /* Vérifier pour refacto ok */
            /* Effet couleur des button à l'intérieur des cartes tarifs */
                --ColorBackgroundTarifCard_Button_A: #c17e5b; /* Vérifier pour refacto ok */
                --ColorBackgroundTarifCard_Button_B: #a76446; /* Vérifier pour refacto ok */
            /* Effet des cartes Premiums */
                --ColorBackgroundTarifCardPremium_Border: #d4af37; /* Vérifier pour refacto ok */

        /* Couleur background de la page Tarifs aussi appelé composant "Prestations" */
            /* Effet de couleur du border de la barre de recherche (searchBar) */
                --ColorBackgroundPrestationSeachBar_Border: #ccc; /* Vérifier pour refacto ok */
            /* Effet de couleur background appliqué individuellement sur chaque carte de prestation */
                --ColorBackgroundPrestationCard_Before: rgba(0, 0, 0, 0.5); /* Vérifier pour refacto ok */
                --ColorBackgroundPrestationCard_Overlay: rgba(0, 0, 0, 0.6); /* Vérifier pour refacto ok */
        
        /* Couleur du background et border des la pages Blogs */
            /* Effet de couleur de la page BlogRoot (Page racine) */
                --ColorBackgroundBlogRoot_Border: #ccc; /* Vérifier pour refacto ok */
        /* Couleur background de la page admin */
            /* Effet de couleur des boutons de services */
                --ColorBackgroundAdminButton_EtatOn: #d1fae5; /* Vérifier pour refacto ok */
                --ColorBackgroundAdminButton_EtatOff: #fee2e2; /* Vérifier pour refacto ok */

          
    /* ✨ Ombre du site */
        /** Documentation
        * rgba( AA, BB, CC, DD) EE FF GG
        * AA, BB, CC : Couleur de l'ombre
        * DD : Opacité avec 0 transparence total et 1 opaque
        * EE : Décalage horizontal ←→ : négatif vers gauche et positif vers droite. Valeur en px
        * FF : Décalage vertical ↑↓ : négatif vers le haut et positif vers le bas. Valeur en px
        * GG : Flou de l'ombre. Valeur en px
        */

        /* Ombres Nav Root */
            --box-shadow-bottom: rgba(0, 0, 0, 0.1) 0px 4px 6px; /* Vérifier pour refacto ok */
        
        /* Ombres des cartes Tarifs */
            /* Ombres appliqué sur une carte tarif */
                --box-shadow-card-tarif: rgba(0, 0, 0, 0.1) 0px 12px 35px; /* Vérifier pour refacto ok */

            /* Ombres appliqué sur une carte tarif Premium */
                --box-shadow-card-tarif-premium: rgba(212, 175, 55, 0.3) 0px 0px 15px; /* Vérifier pour refacto ok */
        
        /* Ombres des cartes dans la page LifeStyle */
            /* Ombres appliquées sur une carte LifeStyle */
                --box-shadow-card-lifestyle: rgba(0, 0, 0, 0.2) 0px 0.25px 0.5px; /* Vérifier pour refacto ok */
        
        /* Ombres dans la page Tarifs */
            /* Ombres appliquées sur une carte tarif */
                --box-shadow-card-prestation: rgba(0, 0, 0, 0.15) 0 2px 8px; /* Vérifier pour refacto ok */
                --box-shadow-card-prestation-hover: rgba(0, 0, 0, 0.3) 0 4px 14px; /* Vérifier pour refacto ok */


    /* ✨ Logique taille police d'écriture site*/
        --font-size-root: 1rem; /* 16 px : Ref size, dimensionne tout le site*/
        --p: var(--font-size-root); /*16px*/
        --h1: calc(var(--font-size-root) * 2); /*32px*/
        --h2: calc(var(--font-size-root) * 1.5); /*24px*/
        --h3: calc(var(--font-size-root) + 0.125rem); /*18px*/
        --h4: var(--font-size-root); /*16px*/
        --h5: calc(var(--font-size-root) - 0.125rem); /*14px*/
        --h6: calc(var(--font-size-root) - 0.3125rem); /*11px*/
        --h7: calc(var(--font-size-root) - 0.4375rem); /*9px*/
        --h8: calc(var(--font-size-root) - 0.5rem); /*8px*/

    /* ✨ Attention, les 3 déclarations sont obligatoire pour les titres */
        /*Logique des Titres*/
            --font-family-normal: "Quicksand", sans-serif;
            --font-family-titles: "Saira Condensed", sans-serif;

            --font-weight-normal: none;
            --font-weight-titles: 600;
         
            --font-style-normal: normal;
            --font-style-titles: normal;


            --font-family-title: var(--font-family-titles);
            --font-weight-title: var(--font-weight-titles);
            --font-style-title: var(--font-style-titles);

            /* Attention, il ne gère pas le ContainerAccueilHomeRoot */

    /* ✨ Liste des Z-index */
        --z-index_-1: -1; /* Z-index -1 à partir du Niv 10 */
            /* Bouton de fermeture du sous menu des PRESTATIONS de Nav Target Home */
            /* Bouton de fermeture du sous menu des PRESTATIONS de Nav Root */

        --z-index_1: 1; /* Niv 1 */
            /* Bouton d'ouverture du menu burger Nav Target Home */
            /* Bouton d'ouverture du menu burger Nav Root */
            /* Link sur cartes de prestations dans la page Tarifs les rendant cliquables */

        --z-index_4: 4; /* Z-index 4 à partir du Niv 10 */
            /* Bouton de fermeture du sous menu de Nav Target Home */
            /* Bouton de fermeture du sous menu de Nav Root */

        --z-index_5: 5; /* Z-index 5 à partir du Niv 10 */
            /* Bouton d'ouverture du sous menu nommé PRESTATIONS de nav Target Home */
            /* Bouton d'ouverture du sous menu nommé PRESTATIONS de nav Root */

        --z-index_9: 9; /* Niv 9 */
            /* Bouton invisible de fermeture du menu burger Nav Target Home */
            /* Bouton invisible de fermeture du menu burger Nav Root */

        --z-index_10: 10; /* Niv 10 */
            /* Hauteur du menu burger Nav Target Home */
            /* Hauteur du menu burger Nav Root */
}

body {
    font-family: "Quicksand", Arial, sans-serif;
    padding: 0;
    margin: 0;
    width: 100%;
    min-height: 100vh;
    box-sizing: border-box;
}
h1, h2 {
    font-family: "Saira Condensed", "Arial Narrow", sans-serif;
}
p {
    line-height: 1.6; /* Hauteur des lignes de texte */
}
#root {
     width: 100%;
     min-height: 100vh;
 }

/*
Pour attendre que l'utilisateur soit vraiment sur la page pour la charger
<img src="" alt="" loading="lazy">
*/


/* Code pour accessibilité button */
/* .button {
    position: fixed;
    top: 0rem;
    left: 0rem;
    width: 100vw;
    height: 100vh;
    background-color: transparent;
    background: none;
    border: none;
    outline: none;
    opacity: 0;
    font-size: 0rem;
    clip-path: inset(50%);
    width: 0.0625rem;
    height: 0.0625rem;
    overflow: hidden;
    cursor: pointer;
} */


/* Espace commentaire : */

/* ATTENTION, pour ce site tout spécialement la limite entre mobile et PC est 800px et non 768px */
/* Mobile < 800px et PC <= 800px */


/* Décalage du des composant, texte, card ou img de 24px a droite et gauche */

/* Gestion des écrans pour un minimum de 300px en de sous non pris en charge */
/* Sur la Navigation j'ai quand même mis une media query pour les viewport de moins de 300px */

/* Pour les écran inférieur ou égale a 400px il faut baisser la taille de la police d'écriture */