@import "./assets/Fonts/Quicksand/stylesheet.css";

:root {
    /*Couleur des textes*/
         /*Couleur des textes général*/
         --ColorPrincipal: #DCA54A;
         --ColorSecondaire: #3a240f;
         --ColorClaire: #523711;
         --ColorTexte: #3A3A3A;
         --backgroundBlack: black;
         --backgroundWhite: white;

    /* Couleur des border */
         --borderWhite: white;

    /* Autre paramètre de dépendance */
         --box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px;

     /*Couleur des textes du Footer*/
         --Copyright: #ff007f;

 /*Backgound du site*/
     /*Backgound du général*/
         --textColorBlack: black;
         --textColorWhite: white;

     /*Background du Menu Burger*/
         --Background1: #A9CCE3;
         --BackgroudMenuBurger: var(--ColorClaire);
         --textColorMenu: #818181;

         
    /*Logique taille police d'écriture site*/
         --font-size-root: 16px; /*Ref size, dimensionne tout le site*/
         --p: var(--font-size-root); /*16px*/
         --h1: calc(var(--font-size-root) * 2); /*32px*/
         --h2: calc(var(--font-size-root) * 1.5); /*24px*/
         --h3: calc(var(--font-size-root) + 2px); /*18px*/
         --h4: var(--font-size-root); /*16px*/
         --h5: calc(var(--font-size-root) - 2px); /*14px*/
         --h6: calc(var(--font-size-root) - 5px); /*11px*/
         --h7: calc(var(--font-size-root) - 7px); /*9px*/
         --h8: calc(var(--font-size-root) - 8px); /*8px*/

    /* Liste des Z-index */
         --z-index_-2: -2; /* NavMobile.css et NavPC.css : Même logique : Background en lien avec l'opacité de l'img vague */
         --z-index_-1: -1; /* NavMobile.css et NavPC : Même logique : Img de vague transparent */
         --z-index_5: 5; /* MenuNavRoot.module.css : Etage du sous-menu de Portrait dans NavPC via des props */
         --z-index_9: 9; /* NavMobile.css : Bouton-écran de fermeture MenuBurger div = viewport */
         --z-index_10: 10; /* NavMobile.css : Position du MenuBurger */

    /* Personalisation du MenuBurger */
         --BackgroundMenuBurger: var(--ColorPrincipal);
         --ColorTexteMenuBurger: var(--ColorSecondaire);
         --ColorBorderMenuBurger: white;
}

body {
    font-family: "Quicksand", sans-serif;
    padding: 0;
    margin: 0;
}

/* Espace commentaire : */

/* Gestion des écrans pour un minimum de 300px en de sous non pris en charge */
/* Sur la Navigation j'ai quand même mis une media query pour les viewport de moins de 300px */

/* Pour les écran inférieur ou égale a 400px il faut baisser la taille de la police d'écriture */