@font-face {
    font-family: 'Minerva Moderne';
    src: url('MinervaModern-Black.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Minerva Moderne';
    src: url('MinervaModern-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Minerva Moderne';
    src: url('MinervaModern-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

