@import "../../../root.css";

/* Container principal : FooterPC */
.FooterPC {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    /* background-color: var(--ColorPrincipal); */
    background-image: url("../../../assets/Images/ImageFooter/ImgFooter3.jpg");
    background-size: cover;
    background-position: center center;
    margin: 0px;
    padding: 0px 0px 20px 0px;
}

/*--------------------------------------------------*/

/* Container 1 : Titre */
.TitleFooter {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.TitleFooter > h2 {
    font-size: var(--h2);
    font-family: AnneSignature;
    font-weight: normal;
    color: var(--ColorWhite);
    margin: 10px 20px 10px 20px;
}

/*--------------------------------------------------*/

/* Container 2 : Navigation du FooterPC */
.ContainerNavFooter {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0px;
    width: 100%;
}

/* Tous les Sub Container du Container 2 ont la même structure et les mêmes classNames */
.SubContainerNavFooter {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.TitleNavFooter {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;
}
.TitleNavFooter > h3 {
    font-size: var(--h3);
    font-weight: bold;
    color: var(--ColorWhite);
    margin: 0px;
    padding: 0px 0px 10px 0px;
}

.UlText {
    display: flex;
    justify-content: start;
    align-items: center;
    margin: 0px;
    padding: 0px;
    width: 100%;
}

/*--------------------------------------------------*/

.LiTextLink1 {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;
    margin: 0px;
}

.LiTextLink1 > a {
    font-size: var(--p);
    color: var(--ColorGrey);
    font-weight: bold;
    text-decoration: none;
    margin: 0px;
    padding: 0px 0px 5px 0px;
    transition: transform 0.3s ease, color 0.2s ease;
}
.LiTextLink1 > a:hover {
    transform: scale(1.2); /* Augmente légèrement la taille */
    color: var(--ColorPink); /* Change la couleur en Rose */
}
/*--------------------------------------------------*/

.LiTextLink2 {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;
    margin: 0px;
}

.LiTextLink2 > a {
    font-size: var(--p);
    color: var(--ColorWhite);
    font-weight: bold;
    text-decoration: none;
    margin: 0px;
    padding: 0px 0px 5px 0px;
    transition: transform 0.3s ease, color 0.2s ease;
}
.LiTextLink2 > a:hover {
    transform: scale(1.2); /* Augmente légèrement la taille */
    color: var(--ColorPink); /* Change la couleur en Rose */
}
/*--------------------------------------------------*/

.LiTextLink3 {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;
    margin: 0px;
}

.LiTextLink3 > a {
    font-size: var(--p);
    color: var(--ColorWhite);
    font-weight: bold;
    text-decoration: none;
    margin: 0px;
    padding: 0px 0px 5px 0px;
    transition: transform 0.3s ease, color 0.2s ease;
}
.LiTextLink3 > a:hover {
    transform: scale(1.2); /* Augmente légèrement la taille */
    color: var(--ColorPink); /* Change la couleur en Rose */
}

/*--------------------------------------------------*/

/* Container 3 : Copyright */
.ContainerCopyright {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;
    margin: 0px;
    padding: 0px;
}

.Copyright {
    font-size: var(--p);
    color: var(--ColorPink);
    margin: 10px 24px 0px 24px;
    padding: 10px 0px 10px 0px;
}