@import "../../../root.css";

/* Container principal : FooterPC */
.FooterPC {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    background-color: var(--ColorPrincipal);
    margin: 0px;
    padding: 0px 0px 20px 0px;
}

/*--------------------------------------------------*/

/* Container 1 : Titre */
.TitleFooter {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.TitleFooter > h2 {
    font-size: var(--h2);
    font-family: AnneSignature;
    font-weight: normal;
    color: var(--ColorWhite);
    margin: 10px 20px 10px 20px;
}

/*--------------------------------------------------*/

/* Container 2 : Navigation du FooterPC */
.ContainerNavFooter {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0px;
    width: 100%;
}

/* Tous les Sub Container du Container 2 ont la même structure et les mêmes classNames */
.SubContainerNavFooter {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.TitleNavFooter {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;
}
.TitleNavFooter > h3 {
    font-size: var(--h3);
    font-weight: bold;
    color: var(--ColorWhite);
    margin: 0px;
    padding: 0px 0px 10px 0px;
}

.ArticleText {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;
}

.TextLink {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;
    margin: 0px;
}

.TextLink > a {
    font-size: var(--p);
    color: var(--ColorWhite);
    text-decoration: none;
    margin: 0px;
    padding: 0px 0px 5px 0px;
    transition: transform 0.3s ease, color 0.2s ease;
}
.TextLink > a:hover {
    transform: scale(1.2); /* Augmente légèrement la taille */
    color: var(--ColorPink); /* Change la couleur en Rose */
}

/*--------------------------------------------------*/

/* Container 3 : Copyright */