@font-face {
    font-family: 'Britannic';
    src: url('BritannicBold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Britannic BQ';
    src: url('BritannicBQ-BoldItalic.woff2') format('woff2');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Britannic';
    src: url('BritannicMediumBOLD.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Britannic';
    src: url('BritannicMedium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Britannic BQ';
    src: url('BritannicBQ-Regular.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'BritannicComDMed';
    src: url('BritannicComD-Medi.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'BritannicDExtLig';
    src: url('BritannicD-ExtrLigh.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

