/*Style version Mobile*/

.MenuUlMobile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    list-style-type: none;
    padding: 0rem;
    margin: 0rem;
}

.MenuLiMobile {
    width: 100%;
    padding: 0.625rem 1.5rem; /* 10px 24px 10px 24px */
    cursor: pointer;
}
.MenuLiTarget1Mobile,
.MenuLiTarget2Mobile,
.MenuLiTarget3Mobile,
.MenuLiTarget4Mobile,
.MenuLiTarget5Mobile,
.MenuLiTarget6Mobile {
    border-top: 0.0625rem solid var(--ColorBackgroundNavRootWhite); /* 1px */
}
.MenuLiTarget6Mobile {
    border-bottom: 0.0625rem solid var(--ColorBackgroundNavRootWhite); /* 1px */
}

.MenuLinkMobile {
    font-size: var(--h5);
    color: var(--ColorTextNavRootDarkBrown);
    text-decoration: none;
    margin: 0rem;
    border: none;
    padding: 0rem;
}
@media (min-width: 18.75rem) { /* 300px */
    .MenuLinkMobile {
        font-size: var(--h4);
    }
}
@media (min-width: 25rem) { /* 400px */
    .MenuLinkMobile {
        font-size: var(--h3);
    }
}

.SpanPortraitsMobile {
    font-size: var(--h6);
}

/* Sous menu de Portraits*/
.SubMenuUlMobile {
    list-style: none;
    padding: 0rem;
    margin: 0.5rem 0rem; /* 8px 0px 8px 0px */
}

.ButtonSubMenuMobile {
    position: fixed;
    top: 0rem;
    left: 0rem;
    z-index: var(--z-index_-1);
    width: 100vw;
    height: 100vh;
    background-color: transparent;
    padding: 0rem;
    margin: 0rem;
    border: 0rem;
    opacity: 0;

    /* Masquer le texte de manière propre et accessible */
    text-indent: -625rem; /* 10000px */
    white-space: nowrap;
    overflow: hidden;
    color: transparent;
}

.SubMenuLiMobile {
    padding: 0.375rem 0rem; /* 6px 0px 6px 0px */
}

.SubMenuLinkMobile {
    font-size: var(--h6);
    color: var(--ColorTextNavRootDarkBrown); /*-----------------------------------------------------*/
    text-decoration: none;
}
@media (min-width: 18.75rem) { /* 300px */
    .SubMenuLinkMobile {
        font-size: var(--h5);
    }
}
@media (min-width: 25rem) { /* 400px */
    .SubMenuLinkMobile {
        font-size: var(--h4);
    }
}


/*Style version PC*/

.MenuUlPC {
    display: flex;
    justify-content: end;
    align-items: center;
    position: relative;
    width: 100%;
    margin: 0rem 0.625rem 0rem 0rem; /* 0px 32px 0px 48px */
    border: 0rem;
    padding: 0rem;
    gap: 1.1rem; /* 17.6px */
}
@media (min-width: 51.875rem) { /* 830px */
    .MenuUlPC {
        gap: 1.5rem; /* 24px */
    }
    
}
@media (min-width: 62.5rem) { /* 1000px */
    .MenuUlPC {
        gap: 2rem; /* 32px */
        margin: 0rem 2rem 0rem 3rem; /* 0px 32px 0px 48px */
    }
    
}

.MenuLiPC {
    list-style: none;
    margin: 0rem;
}

.MenuLinkPC {
    display: inline-block;
    font-size: var(--h4);
    text-decoration: none;
    color: var(--ColorTextNavRootBlack);
    transition: transform 0.3s ease, color 0.2s ease;
    white-space: nowrap;
}
.MenuLinkPC:hover {
    transform: scale(1.2); /* Augmente légèrement la taille */
    color: var(--ColorTextNavRootPink);
}

.SubMenuPortraitsPC {
    position: relative;
    z-index: var(--z-index_5); /* Met le bouton d'ouverture PRESTATIONS 5 Niv au dessus du menu burger */
    cursor: pointer;
    padding: 0rem;
}

.SpanPortraitsPC {
    font-size: var(--h6);
}

/* Sous menu de Portraits*/
.SubMenuUlPC {
    position: absolute;
    z-index: var(--z-index_5); /* Place le sous menu au même niveau que le bouton PRESTATIONS */
    list-style: none;
    margin: 0.5rem 0rem; /* 8px 0px 8px 0px */
    padding: 0rem;
}

.ButtonSubMenuPC {
    position: fixed;
    top: 0rem;
    left: 0rem;
    z-index: var(--z-index_4); /* Place le boutton de fermeture juste en dessous du sous menu */
    width: 100vw;
    height: 100vh;
    background-color: transparent;
    background: none;
    padding: 0rem;
    margin: 0rem;
    border: 0rem;
    outline: none;
    opacity: 0;
    cursor: pointer;

    /* Masquer le texte de manière propre et accessible */
    text-indent: -625rem; /* 10000px */
    white-space: nowrap;
    overflow: hidden;
    color: transparent;
}

.SubMenuLiPC {
    padding: 0.25rem 1rem; /* 4px 16px 4px 16px */
    background-color: var(--ColorBackgroundNavRootGrey);
}
.SubMenuLiTarget1PC,
.SubMenuLiTarget2PC {
    border-top: 0.09375rem solid var(--ColorBackgroundNavRootWhite); /* 1.5px */
    border-left: 0.09375rem solid var(--ColorBackgroundNavRootWhite); /* 1.5px */
    border-right: 0.09375rem solid var(--ColorBackgroundNavRootWhite); /* 1.5px */
}
.SubMenuLiTarget3PC {
    border: 0.09375rem solid var(--ColorBackgroundNavRootWhite); /* 1.5px */
}

.SubMenuLinkPC {
    display: inline-block;
    font-size: var(--h5);
    color: var(--ColorTextNavRootBlack);
    text-decoration: none;
    transition: color 0.2s ease;
}

.SubMenuLinkPC:hover {
    transform: scale(1.2);
    color: var(--ColorTextNavRootLink);
}
