.ContainerRootRacine {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin: 0rem;
    padding: 1.25rem; /* 20px 20px 20px 20px */
    margin: 1.25rem 0rem 0rem 0rem; /* 20px 0px 0px 0px */
    background-color: rgb(255, 225, 225);
}

/*--------------------------------------------------*/

.TitleH2 {
    font-size: var(--h2);
    font-weight: bold;
    color: var(--ColorTextBlack);
    text-align: center;
    width: 100%;
    margin: 0rem;
    padding: 0rem 0rem 1.5rem 0rem; /* 0px 0px 24px 0px */
}

.PowerSpan {
    color: var(--ColorTextBlack);
}

.WattSpan {
    color: var(--ColorTextRed);
}

.NumberSpan {
    color: var(--ColorTextRed);
}

/*--------------------------------------------------*/
.ContainerNavFooter {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0rem;
    width: 100%;
}

.SubContainerNavFooter {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex: 1;
}

.TitleNavFooter {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.SubNav {
    font-size: var(--h3);
    font-weight: bold;
    color: var(--ColorTextFooterWhite);
    margin: 0rem;
    padding: 0rem 0rem 1rem 0rem; /* 0px 0px 16px 0px */
}

.UlText {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0rem;
    padding: 0rem;
    width: 100%;
}

.LiTextLink {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0rem;
}

.Link {
    font-size: var(--p);
    color: var(--ColorTextBlack);
    font-weight: bold;
    text-decoration: none;
    margin: 0rem;
    padding: 0rem 0rem 0.3125rem 0rem; /* 0px 0px 5px 0px */
    transition: transform 0.3s ease, color 0.2s ease;
}
.Link:hover {
    transform: scale(1.2); /* Augmente légèrement la taille */
    color: var(--ColorTextPink); /* Change la couleur en Rose */
}