.LifeStyleRootComposantH {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin: 0px;
    padding: 0px;
    border: 0px;
}

.ContainerTitle {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;
    margin: 0px;
    padding: 0px;
    border: 0px;
}

.Title {
    font-size: calc(var(--h2) + 2px); /* h2 => h2 + 2px uniquement a cause de la police Saira */
    color: var(--ColorBlack);
    font-family: var(--font-family-title);
    font-weight: var(--font-weight-title);
    font-style: var(--font-style-title);
    margin: 20px 24px 20px 24px;
    padding: 0px;
    border: 0px;
    width: 100%;
}

.ContainerText {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    width: 100%;
}

.Text {
    font-size: var(--h4);
    margin: 0px 24px 0px 24px;
    padding: 0px 0px 20px 0px;
}

.SpanBold {
    font-weight: bold;
    font-size: var(--p);
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    color: var(--ColorBlack);
}
.SpanBoldSpace {
    font-weight: bold;
    font-size: var(--h3);
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    color: var(--ColorBlack);
}

.SpanLink > a {
    display: inline-block;
    text-decoration: underline;
    font-size: var(--p);
    font-weight: bold;
    margin: 0;
    padding: 0;
    color: var(--ColorLink);
    transition: transform 0.2s ease-in-out; /* Effet fluide */
}

.SpanLink > a:hover {
    transform: scale(1.01); /* Grossissement de 10% */
}