@import "../../../../root.css";

/* Conteneur principal */
.ContainerServices {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin: 20px 0px 0px 0px;
}

/* Titre principal */
.ServicesTitle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.ServicesTitle > h2 {
    font-size: var(--h2);
    margin-bottom: 30px;
}

/* Conteneur des cards */
.CardContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    text-align: center;
}

/* Card */
.Card {
    width: 100%;
    max-width: 350px;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: var(--box-shadow);
    transition: transform 0.3s ease-in-out;
}

.Card:hover {
    transform: translateY(-5px);
}

/* Image 4:3 */
.CardImage {
    width: 100%;
    aspect-ratio: 4 / 3;
    object-fit: cover;
}

/* Contenu */
.CardContent {
    padding: 15px;
}

.CardTitle {
    font-size: var(--h2);
    margin-bottom: 10px;
}

.CardDescription {
    font-size: var(--h4);
    color: #666;
}
