@import "../../../../root.css";

.ContainerServices {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}


/*---------------------------------------------------------------*/
/* Partie qui sera mis plus tard dans un composant */

.CardServices {}