.container {
  padding: 2rem;
  width: calc(100% - 4rem); /* 100% - 64px */
  margin: 0 auto;
}

.searchBar {
  width: calc(100% - 2rem); /* 100% - 32px */
  max-width: 31.25rem; /* 500px */
  margin: 0rem auto 2rem; /* 0px auto auto 32px */
  padding: 0.75rem 1rem; /* 12px 16px 12px 16px */
  font-size: 1rem; /* 16px */
  border-radius: 8px;
  border: 1px solid #ccc;
}

.cardsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5rem; /* 24px */
}

.card {  
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 12px;
  width: 15.625rem; /* 250px */
  height: 17.5rem; /* 280px */
  text-decoration: none;
  color: white;
  display: flex;
  align-items: flex-end;
  overflow: hidden;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.card::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5); /* léger noircissement */
  z-index: 0;
}

.card:hover {
  transform: scale(1.03);
  box-shadow: 0 4px 14px rgba(0, 0, 0, 0.3);
}

.overlay {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
  position: relative;
  z-index: 1;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.6), transparent 80%);
  padding: 1rem;
  width: calc(100% - 2rem); /* 100% - 32px */
  height: calc(100% - 2rem); /* 100% - 32px */
  border-radius: 0 0 12px 12px;
}

.cardTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  margin: 0rem;
  margin-top: 1rem;
  border: 0rem;
  padding: 0rem;
  font-size: 1.2rem; /* 19.2px */
  font-weight: bold;
}

.containerDescription {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0.5rem; /* 8px */
}

.cardDescription {
  margin: 0rem;
  font-size: calc(var(--h4) - 0.05rem);
}

.cardDate {
  display: flex;
  justify-content: end;
  align-items: center;
  font-size: var(--h5);
  width: 100%;
  margin: 0rem;
}
