.Page, 
.Header, 
.Main, 
.Footer,
.HeaderHomePage {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding: 0rem;
    border: 0rem;
    margin: 0rem;
}
.Main {
    min-height: calc(100vh - 23.15625rem); /* calc(100vh - 370.5px) */
}

.HeaderHomePage {
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
}
