@import "../../../root.css";

/* Container Principale */
.NavPC {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    background-color: var(--ColorSecondaire);
    /* Ajout ou modification des propriétés background */
    background-image: url("../../../assets/Background-img/Background-vague.jpg");
    background-size: 500px 200px;
    background-repeat: repeat;
    background-position: start;
    @media (max-width: 768px) {
        display: none;
    }
}

/*--------------------------------------------------*/
/* Container Bloc 1/2 */
.ContainerLogoNavPC {
    display: flex;
    justify-content: center;
    align-items: center;
}

.ContainerLogoNavPC > a {
    margin: 16px 0px 16px 0px;
}

.ContainerLogoNavPC > a > img {
    width: 200px;
    border-radius: 0px;
}

/*--------------------------------------------------*/
/* Container Bloc 2/2 */
.ContainerMenuNavPC {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


/* Sous Bloc 1/3 : Title */
.ContainerTitleNavPC {
    display: flex;
    align-items: center;
    justify-content: center;
}

.TitleNavPC {
    font-size: var(--h1);
    color: var(--ColorPrincipal);
    text-decoration: none;
}


/* Sous Bloc 2/3 : Menu */
.ContainerMenuNavPC {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}


/* Sous Bloc 3/3 : Contact */
.ContainerContactNavPC {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Style du mail */
.ContainerMailNavPC {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    width: 230px;
    margin: 0px 8px 16px 0px;
    border: 1.5px solid var(--ColorPrincipal);
    transition: transform 0.2s ease, border-color 0.2s ease; /* Animation fluide */
}
.ContainerMailNavPC:hover {
    transform: scale(1.05);
    border-color: white;
}

.ContactMailNavPC {
    font-size: var(--h5);
    text-decoration: none;
    color: var(--ColorPrincipal);
}
.ContactMailNavPC:hover {
    transform: scale(1.1);
    color: white;
}

/* Style du numéro de téléphone */
.ContainerTelNavPC {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    width: 230px;
    margin: 0px 0px 16px 8px;
    border: 1.5px solid var(--ColorPrincipal);
    transition: transform 0.2s ease, border-color 0.2s ease; /* Animation fluide */
}
.ContainerTelNavPC:hover {
    transform: scale(1.05);
    border-color: white;
}

.ContactTelNavPC {
    font-size: var(--h5);
    text-decoration: none;
    color: var(--ColorPrincipal);
    transition: transform 0.2s ease, color 0.2s ease;
}
.ContainerTelNavPC:hover .ContactTelNavPC {
    transform: scale(1.1);
    color: white;
}
