DB_HOST=localhost
DB_PORT=3306
DB_USER=DB_USER
DB_PASSWORD=DB_PASSWORD
DB_NAME=DB_LAPM

SECRET_KEY_TOKEN_SERVER=SECRET_KEY_TOKEN_SERVER
SECRET_KEY_TOKEN_CLIENT=SECRET_KEY_TOKEN_CLIENT

MAIL_SERVER_ADMIN=MAIL_SERVER_ADMIN
MAIL_PASSWORD=MAIL_PASSWORD

VITE_DOMAIN_FRONT=VITE_DOMAIN_FRONT
VITE_DOMAIN_BACK=VITE_DOMAIN_BACK

VITE_PORT_SERVER=VITE_PORT_SERVER