/* Conteneur principal */
.AvisClient {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin: 0px;
    padding: 0px;
    border: 0px;
  }
  
  /* Titre principal */
  .ContainerTitle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
  }
  
  .title {
    font-size: 26px;
    font-weight: bold;
    color: #333;
  }
  
  /* Liste des avis */
  .ContainerAvis {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
    width: 100%;
    margin: 0px;
  }

  .test1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0px;
    border: 0px;
    margin: 0px;
  }
  .test2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(100% - 0px);
    padding: 0px;
    border: 0px;
    margin: 0px;
  }
  .test3 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0px;
    border: 0px;
    padding: 0px 20px 0px 20px;
    box-shadow: var(--box-shadow);
  }
