@import "../../../../root.css";

.ExpertiseTitle {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;
}
.ExpertiseTitle > h2 {
    font-size: var(--h2);
    margin: 20px 24px 20px 24px;
}

.ExpertiseText1 {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;
}
.ExpertiseText1 > p {
    font-size: var(--h4);
    margin: 0px 24px 0px 24px;
    padding: 0px 0px 20px 0px; /* Espacement du texte ci-dessous */
}

.ExpertiseText2 {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;
}
.ExpertiseText2 > p {
    font-size: var(--h4);
    margin: 0px 24px 0px 24px;
    padding: 0px 0px 20px 0px; /* Espacement du texte ci-dessous */
}

.ExpertiseText3 {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;
}
.ExpertiseText3 > p {
    font-size: var(--h4);
    margin: 0px 24px 0px 24px;
    padding: 0px 0px 20px 0px; /* Espacement du texte ci-dessous */
}