/*Style version Mobile*/

.MenuUlMobile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    list-style-type: none;
    padding: 0;
    margin: 0rem;
}

.MenuLiMobile {
    width: 100%;
    padding: 0.625rem 1.5rem; /* 10px 24px 10px 24px */
    cursor: pointer;
}
.MenuLiTarget1Mobile {
    border-top: 0.0625rem solid var(--ColorBorderMenuBurger); /* 1px */
}
.MenuLiTarget2Mobile {
    border-top: 0.0625rem solid var(--ColorBorderMenuBurger); /* 1px */
}
.MenuLiTarget3Mobile {
    border-top: 0.0625rem solid var(--ColorBorderMenuBurger); /* 1px */
}
.MenuLiTarget4Mobile {
    border-top: 0.0625rem solid var(--ColorBorderMenuBurger); /* 1px */
}
.MenuLiTarget5Mobile {
    border-top: 0.0625rem solid var(--ColorBorderMenuBurger); /* 1px */
}
.MenuLiTarget6Mobile {
    border-top: 0.0625rem solid var(--ColorBorderMenuBurger); /* 1px */
    border-bottom: 0.0625rem solid var(--ColorBorderMenuBurger); /* 1px */
}

.MenuLinkMobile {
    text-decoration: none;
    font-size: var(--h5);
    color: var(--textColorMenuBurger);
}
@media (min-width: 18.75rem) { /* 300px */
    .MenuLinkMobile {
        font-size: var(--h4);
    }
}
@media (min-width: 25rem) { /* 400px */
    .MenuLinkMobile {
        font-size: var(--h3);
    }
}

.SpanPortraitsMobile {
    font-size: var(--h6);
}

/* Sous menu de Portraits*/
.SubMenuUlMobile {
    list-style: none;
    padding: 0rem;
    margin: 0.5rem 0rem; /* 8px 0px 8px 0px */
}

.ButtonSubMenuMobile {
    position: fixed;
    top: 0rem;
    left: 0rem;
    z-index: var(--z-index_-1);
    width: 100vw;
    height: 100vh;
    background-color: transparent;
    background: none;
    padding: 0rem;
    margin: 0rem;
    border: 0rem;
    outline: none;
    opacity: 0;
    cursor: pointer;

    /* Masquer le texte de manière propre et accessible */
    text-indent: -625rem; /* -10000px */
    white-space: nowrap;
    overflow: hidden;
    color: transparent;
}

.SubMenuLiMobile {
    padding: 0.375rem 0rem; /* 6px 0px 6px 0px */
}

.SubMenuLinkMobile {
    font-size: var(--h6);
    color: var(--textColorMenuBurger); /*-----------------------------------------------------*/
    text-decoration: none;
}
@media (min-width: 18.75rem) { /* 300px */
    .SubMenuLinkMobile {
        font-size: var(--h5);
    }
}
@media (min-width: 25rem) { /* 400px */
    .SubMenuLinkMobile {
        font-size: var(--h4);
    }
}


/*Style version PC*/

.MenuUlPC {
    display: flex;
    justify-content: end;
    align-items: center;
    position: relative;
    width: calc(100% - 5rem); /* 100% - 32px */
    margin: 0rem 2rem 0rem 3rem; /* 0px 32px */
    border: 0;
    padding: 0;
    gap: 1.1rem; /* 17.6px */
}
@media (min-width: 830px) {
    .MenuUlPC {
        gap: 1.5rem; /* 24px */
    }
    
}
@media (min-width: 1000px) {
    .MenuUlPC {
        gap: 2rem; /* 24px */
    }
    
}

.MenuLiPC {
    list-style: none;
    margin: 0;
}

.MenuLinkPC {
    display: inline-block;
    font-size: var(--h4);
    text-decoration: none;
    color: var(--ColorWhite);
    font-family: "Saira Condensed", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-display: swap;
    transition: transform 0.3s ease, color 0.2s ease;
}
.MenuLinkPC:hover {
    transform: scale(1.2); /* Augmente légèrement la taille */
    color: var(--ColorPink); /* Change la couleur en Rose */
}

.SubMenuPortraitsPC {
    position: relative;
    z-index: var(--z-index_5); /* Assure que le lien est au-dessus du sous-menu */
    cursor: pointer;
}

.SpanPortraitsPC {
    font-size: var(--h6);
}

/* Sous menu de Portraits*/
.SubMenuUlPC {
    z-index: var(--z-index_5);
    position: absolute;
    list-style: none;
    margin: 8px 0px 8px 0px;
    padding: 0;
    box-shadow: var(--box-shadow);
}

.ButtonSubMenuPC {
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: var(--z-index_4);
    width: 100vw;
    height: 100vh;
    background-color: transparent;
    background: none;
    padding: 0px;
    margin: 0px;
    border: 0px;
    outline: none;
    opacity: 0;
    cursor: pointer;

    /* Masquer le texte de manière propre et accessible */
    text-indent: -9999px;
    white-space: nowrap;
    overflow: hidden;
    color: transparent;
}

.SubMenuLiPC {
    padding: 4px 16px 4px 16px;
    background-color: var(--BackgroudSubMenuBurger);
}
.SubMenuLiTarget1PC {
    border-top: 1.5px solid var(--borderWhite);
    border-left: 1.5px solid var(--borderWhite);
    border-right: 1.5px solid var(--borderWhite);
}
.SubMenuLiTarget2PC {
    border-top: 1.5px solid var(--borderWhite);
    border-left: 1.5px solid var(--borderWhite);
    border-right: 1.5px solid var(--borderWhite);
}
.SubMenuLiTarget3PC {
    border: 1.5px solid var(--borderWhite);
}

.SubMenuLinkPC {
    display: inline-block;
    font-size: var(--h5);
    color: var(--textColorMenu);
    text-decoration: none;
    transition: color 0.2s ease;
}

.SubMenuLinkPC:hover {
    transform: scale(1.2);
    color: var(--textColorSubMenuHover);
}
