@import "../../../root.css";

/* Le code qui va suivre jusqu'au double séparateur servira à coder les balises hors MenuBurger */
/* .NavMobile {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    @media (min-width: 800.02px) {
        display: none;
    }
}

.ContainerLogoNavMobile {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
}

.TitleNavMobile {
    font-size: var(--h3);
    color: var(--ColorPrincipal);
} */

@import "../../../root.css";

/* Le code qui va suivre jusqu'au double séparateur servira à coder les balises hors MenuBurger */
.NavMobile {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    width: 100%;
    height: 170px;
    background-color: black;
    @media (min-width: 800.02px) {
        display: none;
    }
}
