@import "../../../root.css";

/* Le code qui va suivre jusqu'au double séparateur servira à coder les balises hors MenuBurger */
.NavMobile {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    @media (min-width: 800.02px) {
        display: none;
    }
}
