@import "../../../root.css";

/* Le code qui va suivre jusqu'au double séparateur servira à coder les balises hors MenuBurger */
.NavMobile {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    width: 100%;
    height: 170px;
    @media (min-width: 800.02px) {
        display: none;
    }
}
.NavMobile::before {
    content: ""; /* Obligatoire pour un pseudo-élément */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../../../assets/Background-img/Background-vague.jpg");
    background-size: 500px 200px;
    background-repeat: repeat;
    background-position: start;
    opacity: 0.5; /* Opacité souhaitée (0 à 1) */
    z-index: var(--z-index_-1); /* Place l'image de fond derrière le contenu */
}

.BackgroundNavMobile {
    z-index: var(--z-index_-2);
    position: fixed;
    width: 100%;
    height: 170px;
    background-color: var(--ColorSecondaire);
}


/* Container du Logo bloc 1/2 */
.ContainerLogoNavMobile {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
}
@media (min-width: 0px) and (max-width: 300px) {
    .ContainerLogoNavMobile {
        width: 90px;
    }
}
@media (min-width: 300px) and (max-width: 350px) {
    .ContainerLogoNavMobile {
        width: 100px;
    }
}
@media (min-width: 350px) and (max-width: 400px) {
    .ContainerLogoNavMobile {
        width: 120px;
    }
}

.ContainerLogoNavMobile > a {
    margin: 16px 0px 16px 0px;
    width: 100%;
    max-width: 150px;
}

.ContainerLogoNavMobile > a > img {
    width: 100%;
    max-width: 150px;
    object-fit: contain;
}


/* Container de la Navigation bloc 2/2 */
.ContainerNavigationNavMobile {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0px 0px 0px 0px;
    /* Possible mise en place d'une marge sur la droite a cause du MenuBurger*/
}
@media (min-width: 0px) and (max-width: 400px) {
    .ContainerNavigationNavMobile {
        margin: 0px 35px 0px 0px;
    }
}
@media (min-width: 400px) and (max-width: 500px) {
    .ContainerNavigationNavMobile {
        margin: 0px 32px 0px 0px;
    }
}
@media (min-width: 500px) and (max-width: 550px) {
    .ContainerNavigationNavMobile {
        margin: 0px 24px 0px 0px;
    }
}
@media (min-width: 550px) and (max-width: 600px) {
    .ContainerNavigationNavMobile {
        margin: 0px 16px 0px 0px;
    }
}
@media (min-width: 600px) and (max-width: 768px) {
    .ContainerNavigationNavMobile {
        margin: 0px 8px 0px 0px;
    }
}

/* Sous bloc 1/2 : Titre */
.ContainerTitleNavMobile {
    display: flex;
    justify-content: center;
    align-items: center;
}

.TitleNavMobile {
    font-size: var(--h1);
    color: var(--ColorPrincipal);
    text-decoration: none;
}
@media (min-width: 0px) and (max-width: 300px) {
    .TitleNavMobile {
        font-size: var(--h5);
    }
}
@media (min-width: 300px) and (max-width: 400px) {
    .TitleNavMobile {
        font-size: var(--h4);
    }
}
@media (min-width: 400px) and (max-width: 500px) {
    .TitleNavMobile {
        font-size: var(--h3);
    }
}
@media (min-width: 500px) and (max-width: 650px) {
    .TitleNavMobile {
        font-size: var(--h2);
    }
}

/* Sous bloc 2/2 : Contact */
.ContainerContactNavMobile {
    display: flex;
    justify-content: center;
    flex-direction: column;
}


/* Style du mail */
.ContainerMailNavMobile {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    width: 230px;
    margin: 8px 0px 4px 0px;
    border: 1.5px solid var(--ColorPrincipal);
    transition: transform 0.2s ease, border-color 0.2s ease; /* Animation fluide */
}
@media (min-width: 0px) and (max-width: 300px) {
    .ContainerMailNavMobile {
        width: 140px;
    }
}
@media (min-width: 300px) and (max-width: 350px) {
    .ContainerMailNavMobile {
        width: 140px;
    }
}
@media (min-width: 350px) and (max-width: 400px) {
    .ContainerMailNavMobile {
        width: 160px;
    }
}
@media (min-width: 400px) and (max-width: 500px) {
    .ContainerMailNavMobile {
        width: 200px;
    }
}
.ContainerMailNavMobile:hover {
    transform: scale(1.05);
    border-color: white;
}

.ContactMailNavMobile {
    font-size: var(--h5);
    text-decoration: none;
    color: var(--ColorPrincipal);
}
@media (min-width: 0px) and (max-width: 300px) {
    .ContactMailNavMobile {
        font-size: var(--h7);
    }
}
@media (min-width: 300px) and (max-width: 400px) {
    .ContactMailNavMobile {
        font-size: var(--h6);
    }
}
.ContactMailNavMobile:hover {
    transform: scale(1.1);
    color: white;
}

/* Style du numéro de téléphone */
.ContainerTelNavMobile {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    width: 230px;
    margin: 4px 0px 0px 0px;
    border: 1.5px solid var(--ColorPrincipal);
    transition: transform 0.2s ease, border-color 0.2s ease; /* Animation fluide */
}
@media (min-width: 0px) and (max-width: 300px) {
    .ContainerTelNavMobile {
        width: 140px;
    }
}
@media (min-width: 300px) and (max-width: 350px) {
    .ContainerTelNavMobile {
        width: 140px;
    }
}
@media (min-width: 350px) and (max-width: 400px) {
    .ContainerTelNavMobile {
        width: 160px;
    }
}
@media (min-width: 400px) and (max-width: 500px) {
    .ContainerTelNavMobile {
        width: 200px;
    }
}
.ContainerTelNavMobile:hover {
    transform: scale(1.05);
    border-color: white;
}

.ContactTelNavMobile {
    font-size: var(--h5);
    text-decoration: none;
    color: var(--ColorPrincipal);
}
@media (min-width: 0px) and (max-width: 300px) {
    .ContactTelNavMobile {
        font-size: var(--h7);
    }
}
@media (min-width: 300px) and (max-width: 400px) {
    .ContactTelNavMobile {
        font-size: var(--h6);
    }
}
.ContactTelNavMobile:hover {
    transform: scale(1.1);
    color: white;
}


/*----------------------------------------------------*/
/*-----------------------------------------------*/
/*Menu Burger*/


/*Position du Menu Burger*/
.sideCloseNav {
    width: 100vw;
    height: 100vh;
    padding: 0px;
    border: 0px;
    margin: 0px;
    position: fixed;
    z-index: var(--z-index_9);
    top: 0;
    left: -100vw;
    background-color: transparent;
}

.sideCloseNav.active {
    left: 0;
}

.sideNav {
    /* width: 250px; */
    height: 100%;
    position: fixed;
    z-index: var(--z-index_10);
    top: 0;
    right: -250px;
    background-color: var(--ColorPrincipal); /*-------------------------------------------------*/
    transition: right 0.5s ease;
    box-shadow: var(--box-shadow);
    border-left: 1px solid var(--borderWhite);
}
/* @media (max-width: 250px) {
    .sideNav {
        width: 100vw;
        height: 100vh;
    }
}
@media (min-width: 250px) and (max-width: 350px) {
    .sideNav {
        width: 250px;
        height: 100%;
    }
} */

.sideNav.active {
    right: 0;
}

/*Logique ouverture et fermeture MenuBurger*/
#closeBtn {
    margin: 1rem 0rem 0rem 1rem;
    padding: 0.5rem 1.5rem;
    text-decoration: none;
    text-align: center;
    font-size: 1.8rem;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 50%;
    background: none; /* Dégradé bleu-violet */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3); /* Ombre */
    transition: transform 0.3s ease, box-shadow 0.3s ease, background 0.3s ease;
    border: none;
    outline: none;
    cursor: pointer;
}
@media (max-width: 250px) {
    #closeBtn {
        padding: 0.3rem 1.2rem;
    }
}
@media (min-width: 250px) and (max-width: 350px) {
    #closeBtn {
        padding: 0.4rem 1.35rem;
    }
}

#closeBtn:hover {
    transform: rotate(90deg) scale(1.1); /* Légère rotation et agrandissement */
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.5); /* Ombre renforcée */
    background: none; /* Dégradé de couleur */
}


#openBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0.4rem;
    right: 0.5rem;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
}

.menuBurger > span {
    display: block;
    width: 35px;
    height: 5px;
    background-color: var(--textColorWhite);
    margin: 0.5rem 0rem;
}
@media (max-width: 250px) {
    .menuBurger > span {
        width: 30px;
        height: 4px;
    }
}
@media (min-width: 250px) and (max-width: 350px) {
    .menuBurger > span {
        width: 32px;
        height: 4;
    }
}

/*-----------------------------------------------*/

/*Contenu du Menu Burger*/
.sideNav>div {
    display: flex;
    justify-content: start;
    padding: 0rem 0rem 3rem 0rem;

}

/*Bouttons language drapeaux*/

.sideNav > section {
    display: flex;
    justify-content: start;
    align-items: center;
    margin: 2rem 0rem 0rem 0rem;
    width: 100%;
}
@media (max-width: 250px) {
    .sideNav > section {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100vw;
    }
}
@media (min-width: 250px) and (max-width: 350px) {
    .sideNav > section {
        display: flex; 
        justify-content: center;
        align-items: center;
        width: 100%;
    }
}
