@import "../../../../../root.css";

.ContainerDescriptionServices {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin: 20px 0px 0px 0px;
}

/* Description Service 1 */
.DescriptionServices1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin: 20px 0px 0px 0px;
}

.Services1Title {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;
}

.Services1Title > h3 {
    font-size: var(--h2);
    margin: 20px 24px 20px 24px;
    width: 100%;
}

.Service1Text1 {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;
}

.Service1Text1 > p {
    font-size: var(--h4);
    margin: 0px 24px 0px 24px;
    padding: 0px 0px 20px 0px;
    width: 100%;
}

.Service1Text2 {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;
}

.Service1Text2 > p {
    font-size: var(--h4);
    margin: 0px 24px 0px 24px;
    padding: 0px 0px 20px 0px;
    width: 100%;
}

/* Description Service 2 */

.DescriptionServices2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin: 20px 0px 0px 0px;
}

.Services2Title {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;
}

.Services2Title > h3 {
    font-size: var(--h2);
    margin: 20px 24px 20px 24px;
    width: 100%;
}

/* Text */
.Service2ContainerText {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.Service2Text1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.Service2Text1 > p {
    font-size: var(--h4);
    margin: 0px 24px 0px 24px;
    padding: 0px 0px 20px 0px;
}

.Service2Text2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.Service2Text2 > p {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;
    font-size: var(--h4);
}

.Service2Text2 > p > a {
    text-decoration: none;
    color: var(--ColorPink);
    margin: 0px 24px 0px 24px;
    width: 100%;
}
