.Container4ImagesRoot {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.625rem; /* 10px */
    width: calc(100% - 2.5rem); /* 100% - 40px */
    max-width: 87.5rem; /* 1400px */
    margin: auto;
}
@media (min-width: 800px) {
    .Container4ImagesRoot {
        grid-template-columns: repeat(4, 1fr);
    }
}

.ContainerImg {
    overflow: hidden;
    width: 100%;
    aspect-ratio: 1 / 1; /* Permet de garder le ratio 1:1 */
}

.Image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.2s ease-in-out;
}
.Image:hover {
    transform: scale(1.1);
}
