/* Le code qui va suivre jusqu'au double séparateur servira à coder les balises hors MenuBurger */
.NavHomeMobile {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: inherit;
}

.ContainerLogoNavMobile {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.ContainerLogoNavMobile > a {
    font-size: var(--h1);
    font-family: AnneSignature;
    font-weight: normal;
    text-decoration: none;
    color: var(--ColorTextWhite);
    margin: 2rem 0rem; /* 32px 0px 32px 0px */
}
