.ContainerRootRacine {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin: 0rem;
    padding: 1.25rem; /* 20px 20px 20px 20px */
    margin: 1.25rem 0rem 0rem 0rem; /* 20px 0px 0px 0px */
    background-color: rgb(255, 225, 225);
}


/*--------------------------------------------------*/
.TitleH2 {
    font-size: var(--h2);
    font-weight: bold;
    color: var(--ColorTextBlack);
    text-align: center;
    width: 100%;
    margin: 0rem;
    padding: 0rem 0rem 1.5rem 0rem; /* 0px 0px 24px 0px */
}

.PowerSpan {
    color: var(--ColorTextBlack);
}

.WattSpan {
    color: var(--ColorTextRed);
}

.NumberSpan {
    color: var(--ColorTextRed);
}

/*--------------------------------------------------*/
.ContainerNavFooter {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0rem;
    width: 100%;
}
