.TitleH3,
.TitleH4 {
    color : var(--ColorBlack);
    font-weight: bold;
    font-display: swap;
    text-align: start;
    width: calc(100% - 3rem); /* 100% - 48px */
    margin: 1.25rem 1.5rem; /* 20px 24px 20px 24px */
    padding: 0;
    border: 0;
}
.TitleH3 {
    font-size: var(--h3); /* 20px */
}
.TitleH4 {
    font-size: calc(var(--h4) + 0.0625rem); /* 19px */
    margin: 0 1.5rem; /* 0px 24px 0px 24px */
}

