@import "../../../root.css";

.ContainerIntroduction {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin: 0px 24px 0px 24px;
}

.IntroTitle {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;
}
.IntroTitle > h2 {
    font-size: var(--h2);
    margin: 20px 24px 20px 24px;
}

.IntroText1 {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;
}
.IntroText1 > p {
    font-size: var(--h4);
    margin: 0px 24px 0px 24px;
}

.IntroText2 {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;
}
.IntroText2 > p {
    font-size: var(--h4);
    margin: 0px 24px 0px 24px;
}