@import "../../../root.css";

/* Base du composant HomePC */
.HomePC {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0px;
    border: 0px;
    margin: 0px;
    width: 100%;
}
@media (max-width: 800px) {
    .HomePC {
        display: none;
    }
}

/* Titre H1 de la page d'accueil */
.ContainerTitle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.PrimaryTitle {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: var(--h1);
    width: 100%;
}

/* Container de la page d'accueil */
.ContainerAccueil {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 500px;
    background-image: url("../../../assets/Background-img/Dans_vos_yeux_Portrait_16-9.jpg");
    background-size: cover;
    background-position: center center;
}

.Slogan {
    font-size: var(--h2);
    color: var(--ColorPink); /* Couleur du texte */
}

.ButtonDecouvrir {
    display: flex;
    justify-content: center;
    align-items: center;
}

.ButtonDecouvrir > button {
    display: flex;
    justify-content: center;
    align-items: center;
    background: inherit;
    all: unset; /* Reset de tout les styles */
}

.ButtonDecouvrir > button > a {
    text-decoration: none;
    color: var(--ColorPink); /* Couleur du texte */
    font-size: var(--h3);
}

/* Contenu de la page hors img */
.ContainerIntroduction {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin: 0px 24px 0px 24px;
}

/* Container 1 : Introduction */
.IntroTitle {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;
}
.IntroTitle > h2 {
    font-size: var(--h2);
    margin: 20px 24px 20px 24px;
}

.IntroText1 {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;
}
.IntroText1 > p {
    font-size: var(--h4);
    margin: 0px 24px 0px 24px;
}

.IntroText2 {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;
}
.IntroText2 > p {
    font-size: var(--h4);
    margin: 0px 24px 0px 24px;
}

/* Container 2 : Mon expertise */
.ExpertiseTitle {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;
}
.ExpertiseTitle > h2 {
    font-size: var(--h2);
    margin: 20px 24px 20px 24px;
}

.ExpertiseText1 {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;
}
.ExpertiseText1 > p {
    font-size: var(--h4);
    margin: 0px 24px 0px 24px;
    padding: 0px 0px 20px 0px; /* Espacement du texte ci-dessous */
}

.ExpertiseText2 {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;
}
.ExpertiseText2 > p {
    font-size: var(--h4);
    margin: 0px 24px 0px 24px;
    padding: 0px 0px 20px 0px; /* Espacement du texte ci-dessous */
}

.ExpertiseText3 {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;
}
.ExpertiseText3 > p {
    font-size: var(--h4);
    margin: 0px 24px 0px 24px;
    padding: 0px 0px 20px 0px; /* Espacement du texte ci-dessous */
}