@import "../../../root.css";

/* Base du composant HomePC */
.HomePC {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0px;
    border: 0px;
    margin: 0px;
    width: 100%;
}
@media (max-width: 800px) {
    .HomePC {
        display: none;
    }
}

/* Container de la page d'accueil */
.ContainerAccueil {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 500px;
    background-image: url("../../../assets/Background-img/Dans_vos_yeux_Portrait_16-9.jpg");
    background-size: cover;
    background-position: center center;
}

.Slogan {
    font-size: var(--h2);
    color: var(--ColorPink); /* Couleur du texte */
}

.ButtonDecouvrir {
    display: flex;
    justify-content: center;
    align-items: center;
}

.ButtonDecouvrir > button {
    display: flex;
    justify-content: center;
    align-items: center;
    background: inherit;
    all: unset; /* Reset de tout les styles */
}

.ButtonDecouvrir > button > a {
    text-decoration: none;
    color: var(--ColorPink); /* Couleur du texte */
    font-size: var(--h3);
}
