.HomePC {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0px;
    border: 0px;
    margin: 0px;
    width: 100%;
}
@media (max-width: 800px) {
    .NavPC {
        display: none;
    }
}

.PrimaryTitle {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: var(--h1);
    width: 100%;
}

.ImgAccueil {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 500px;
    background-image: url("../../../assets/Background-img/Dans_vos_yeux_Portrait_16-9.jpg");
    background-size: cover;
    background-position: center center;
}