.ContainerRoot,
.ContainerTitle, 
.ContainerArticle,
.ContainerList {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin: 0rem;
    padding: 0rem;
    border: 0rem;
}
.ContainerArticle {
    align-items: start;
}
.ContainerList {
    align-items: start;
    width: calc(100% - 2.5rem); /* 100% - 40px */
    padding: 0rem 0rem 0rem 2.5rem; /* 0px 0px 0px 40px */
}

.TitleH2,
.TitleH3,
.TitleH4 {
    color : var(--ColorBlack);
    font-family: var(--font-family-title);
    font-weight: var(--font-weight-title);
    font-style: var(--font-style-title);
    font-display: swap;
    text-align: start;
    width: calc(100% - 2.5rem); /* 100% - 40px */
    margin: 0rem 1.25rem; /* 0px 20px 0px 20px */
    padding: 0rem;
    border: 0rem;
}
.TitleH2 {
    font-size: var(--h2); /* 24px */
}
.TitleH3 {
    font-size: var(--h3); /* 20px */
}
.TitleH4 {
    font-size: var(--h4); /* 18px */
}

.TextP4,
.ElementLi {
    font-size: var(--h4);
    color: var(--ColorBlack);
    width: calc(100% - 3rem); /* 100% - 48px */
    margin: 0rem 1.5rem; /* 0px 24px 0px 24px */
    border: 0;
    padding-bottom: 0;
}

.Separator10, 
.Separator20,
.Separator30 {
    width: 100%;
    height: 0rem;
    margin: 0rem;
    border: 0rem;
}
.Separator10 {
    padding: 0.625rem 0rem 0rem 0rem; /* 10px 0px 0px 0px */
}
.Separator20 {
    padding: 1.25rem 0rem 0rem 0rem; /* 20px 0px 0px 0px */
}
.Separator30 {
    padding: 1.875rem 0rem 0rem 0rem; /* 30px 0px 0px 0px */
}