.ContainerRoot, 
.ContainerRootRacine {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin: 0;
    padding: 0;
    border: 0;
}
.ContainerRootRacine {
    margin: 0rem 0rem 1.25rem 0rem; /* 0px 0px 20px 0px */
}

/* Style des container de texte ou titre */
.ContainerTitle,
.ContainerText,
.ContainerUl {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    width: 100%;
    margin: 0;
    padding: 0;
    border: 0;
}
.ContainerUl {
    width: calc(100% - 2.5rem); /* 100% - 40px */
    padding: 0 0 0 2.5rem; /* 0px 0px 0px 40px */
}

/*--------------------------------------------------*/

/* Style des Title dans un parent Column */
.TitleH1, 
.TitleH2,
.TitleH3,
.TitleH4, 
.TitleH5,
.TitleH6,
.TitleH2px2,
.TitleNH2,
.TitleNH3, 
.TitleNH4 {
    color : var(--ColorBlack);
    font-weight: var(--font-weight-title);
    font-style: var(--font-style-title);
    font-display: swap;
    text-align: start;
    width: calc(100% - 3rem); /* 100% - 48px */
    margin: 1.25rem 1.5rem; /* 20px 24px 20px 24px */
    padding: 0;
    border: 0;
}

.TitleH1, 
.TitleH2,
.TitleNH2,
.TitleH3,
.TitleH4, 
.TitleH5,
.TitleH6,
.TitleH2px2 {
    font-family: var(--font-family-title); 
}


.TitleH1 {
    font-size: var(--h1); /* 32px */
    text-align: center;
}
.TitleH2 {
    font-size: var(--h2); /* 24px */
}
.TitleH3 {
    font-size: var(--h3); /* 20px */
}
.TitleH4 {
    font-size: var(--h4); /* 18px */
}
.TitleH5 {
    font-size: var(--h5); /* 14px */
}
.TitleH6 {
    font-size: var(--h6); /* 11px */
}
.TitleH2px2 {
    font-size: calc(var(--h2) + 0.125rem); /* 26px */
}
.TitleNH2 {
    font-size: var(--h2);
    margin: 1.25rem 1.5rem 0rem 1.5rem; /* 20px 24px 20px 24px */
}
.TitleNH3 {
    font-size: var(--h3); /* 20px */
}
.TitleNH4 {
    font-size: calc(var(--h4) + 0.0625rem); /* 19px */
    margin: 0 1.5rem; /* 0px 24px 0px 24px */
}

/*--------------------------------------------------*/

/* Style des Textes généraux */
.TextP1,
.TextP2,
.TextP3,
.TextP4,
.TextP5,
.TextP6,
.TextLiP4 {
    width: calc(100% - 3rem); /* 100% - 48px */
    margin: 0rem 1.5rem; /* 0px 24px 0px 24px */
    border: 0;
    padding-bottom: 1.25rem; /* 0px 0px 20px 0px */
}
.TextP1 {
    font-size: var(--h1); /* 32px */
}
.TextP2 {
    font-size: var(--h2); /* 24px */
}
.TextP3 {
    font-size: var(--h3); /* 20px */
}
.TextP4 {
    font-size: var(--h4); /* 18px */
}
.TextP5 {
    font-size: var(--h5); /* 14px */
}
.TextP6 {
    font-size: var(--h6); /* 11px */
}
.TextLiP4 {
    font-size: var(--h4); /* 18px */
    padding-bottom: 0; /* 0px 0px 0px 0px */
}

/*--------------------------------------------------*/

/* Text contenant un Link ou un lien externe*/
.SpanLink > a {
    display: inline-block;
    font-size: var(--p); /* 16px */
    color: var(--ColorLink);
    text-decoration: underline;
    font-weight: bold;
    margin: 0;
    border: 0;
    padding: 0;
    transition: transform 0.2s ease-in-out; /* Effet fluide */
}
.SpanLink > a:hover {
    transform: scale(1.05); /* Grossissement de 10% */
}

/* Text gras */
.SpanBold {
    color: var(--ColorBlack);
    font-weight: bold;
    font-size: var(--p); /* 16px */
    margin: 0;
    border: 0;
    padding: 0;
}

/*-------------------------------------*/
/* Autre style spéciaux */

.TargetText1 {
    padding: 1.25rem 0; /* 20px 0px 20px 0px */
}

.IconLucide {
    width: 1.4rem; /* 22px */
    height: 1.4rem; /* 22px */
}

.CheckLucide {
    color: blueviolet;

}

.SpanLucide {
    display: flex;
    justify-content: start;
    align-items: center;
}
