.ContainerRoot, 
.ContainerRootRacine {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin: 0rem;
    padding: 0rem 0rem 1rem 0rem; /* 16px 0px 16px 0px */
    border: 0rem;
}
/* .ContainerRootRacine {
    margin: 1.25rem 0rem;
} */

/* Style des container de texte ou titre */
.ContainerTitle,
.ContainerText {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    width: 100%;
    margin: 0rem;
    padding: 0rem;
    border: 0rem;
}

.ContainerUl {
    display: block;
    width: calc(100% - 2.5rem); /* 100% - 40px */
    padding: 0 0 0 2.5rem; /* 0px 0px 0px 40px */
    list-style-position: inside; /* Position des points de la liste */
    list-style-type: disc; /* Type de point pour les liste. Ici c'est un point rond noir */
}

/*--------------------------------------------------*/

/* Style des Title dans un parent Column */
.TitleH1, 
.TitleH2,
.TitleLH2,
.TitleH2R,
.TitleNH2,
.TitleH2px2,
.TitleH3,
.TitleNH3, 
.TitleLNH3, 
.TitleNH3R,
.TitleH4, 
.TitleNH4, 
.TitleH5,
.TitleH6 {
    color : var(--ColorBlack);
    font-weight: var(--font-weight-title);
    font-style: var(--font-style-title);
    font-display: swap;
    text-align: start;
    margin: 0rem;
    padding: 0rem;
    border: 0rem;
}

.TitleH1, 
.TitleH2,
.TitleLH2,
.TitleH2R,
.TitleNH2,
.TitleH2px2,
.TitleH3,
.TitleH4, 
.TitleH5,
.TitleH6 {
    font-family: var(--font-family-title); 
}


.TitleH1 {
    font-size: var(--h1); /* 32px */
    text-align: center;
    min-height: var(--h1); /* 32px */
    line-height: 1.578125; /* Hauteur des lignes de texte */
    width: calc(100% - 2.5rem); /* 100% - 40px */
    margin: 1.25rem; /* 20px 20px 20px 20px */
}
.TitleH2 {
    font-size: var(--h2); /* 24px */
    line-height: 1.5625; /* Hauteur des lignes de texte */
    width: calc(100% - 2.5rem); /* 100% - 40px */
    margin: 1.25rem; /* 20px 20px 20px 20px */
}
.TitleLH2 {
    font-size: var(--h2); /* 24px */
    line-height: 1.5625; /* Hauteur des lignes de texte */
    width: calc(100% - 2.5rem); /* 100% - 40px */
    margin: 0rem 1.25rem 1.25rem 1.25rem; /* 20px 20px 0px 20px */
}
.TitleH2R {
    font-size: var(--h2); /* 24px */
    line-height: 1.5625; /* Hauteur des lignes de texte */
    width: calc(100% - 2.5rem); /* 100% - 40px */
    margin: 1.25rem 1.25rem 0rem 1.25rem; /* 20px 20px 0px 20px */
}
.TitleNH2 { /* ⚠️ A rechercher pour suppression et remplacement par TitleH2R*/
    font-size: var(--h2); /* 24px */
    line-height: 1.5625; /* Hauteur des lignes de texte */
    width: calc(100% - 2.5rem); /* 100% - 40px */
    margin: 1.25rem 1.25rem 0rem 1.25rem; /* 20px 20px 0px 20px */
}
.TitleH2px2 {
    font-size: calc(var(--h2) + 0.125rem); /* 26px */
    line-height: 1.5769230769; /* Hauteur des lignes de texte */
    width: calc(100% - 2.5rem); /* 100% - 40px */
    margin: 1.25rem; /* 20px 20px 20px 20px */
}
.TitleH3 {
    font-size: var(--h3); /* 18px */
    line-height: 1.5833333333; /* Hauteur des lignes de texte */
}
.TitleNH3 {
    font-size: var(--h3); /* 18px */
    line-height: 1.5833333333; /* Hauteur des lignes de texte */
    width: calc(100% - 2.5rem); /* 100% - 40px */
    margin: 1.25rem 1.25rem 1rem 1.25rem; /* 20px 20px 16px 20px */
}
.TitleLNH3 {
    font-size: var(--h3); /* 18px */
    line-height: 1.5833333333; /* Hauteur des lignes de texte */
    width: calc(100% - 2.5rem); /* 100% - 40px */
    margin: 0rem 1.25rem 1.25rem 1.25rem; /* 0px 20px 20px 20px */
}
.TitleNH3R {
    font-size: var(--h3); /* 18px */
    line-height: 1.5833333333; /* Hauteur des lignes de texte */
    width: calc(100% - 2.5rem); /* 100% - 40px */
    margin: 1.25rem 1.25rem 0rem 1.25rem; /* 20px 20px 0px 20px */
}
.TitleH4 {
    font-size: var(--h4); /* 16px */
    line-height: 1.7857142857; /* Hauteur des lignes de texte */
}
.TitleNH4 {
    font-size: calc(var(--h4) + 0.0625rem); /* 17px */
    line-height: 1.2647058824; /* Hauteur des lignes de texte */
    width: calc(100% - 2.5rem); /* 100% - 40px */
    margin: 0rem 1.25rem; /* 0px 20px 0px 20px */
}
.TitleH5 {
    font-size: var(--h5); /* 14px */
    line-height: 1.5714285714; /* Hauteur des lignes de texte */
}
.TitleH6 {
    font-size: var(--h6); /* 11px */
    line-height: 1.5909090909; /* Hauteur des lignes de texte */
}

/*--------------------------------------------------*/

/* Style des Textes généraux */
.TextP1,
.TextP2,
.TextP3,
.TextP4,
.TextP5,
.TextP6,
.TextLiP4 {
    width: calc(100% - 2.5rem); /* 100% - 48px */
    margin: 0rem 1.25rem; /* 0px 24px 0px 24px */
    border: 0rem;
    padding-bottom: 1.25rem; /* 0px 0px 20px 0px */
    line-height: 1.6; /* Hauteur des lignes de texte */
}
.TextP1 {
    font-size: var(--h1); /* 32px */
}
.TextP2 {
    font-size: var(--h2); /* 24px */
}
.TextP3 {
    font-size: var(--h3); /* 20px */
}
.TextP4 {
    font-size: var(--h4); /* 18px */
}
.TextP5 {
    font-size: var(--h5); /* 14px */
}
.TextP6 {
    font-size: var(--h6); /* 11px */
}
.TextLiP4 {
    font-size: var(--h4); /* 18px */
    padding-bottom: 0; /* 0px 0px 0px 0px */
}

/*--------------------------------------------------*/

/* Text contenant un Link ou un lien externe*/
.SpanLink > a {
    display: inline-block;
    font-size: var(--p); /* 16px */
    color: var(--ColorTextLink);
    text-decoration: underline;
    font-weight: bold;
    margin: 0rem;
    border: 0rem;
    padding: 0rem;
    transition: transform 0.2s ease-in-out; /* Effet fluide */
}
.SpanLink > a:hover {
    transform: scale(1.05); /* Grossissement de 10% */
}

/* Text gras */
.SpanBold {
    color: var(--ColorTextBlack);
    font-weight: bold;
    font-size: var(--p); /* 16px */
    margin: 0rem;
    border: 0rem;
    padding: 0rem;
}

/*-------------------------------------*/
/* Positionnement texte avec Float*/
.ContainerFloat {
  width: 100%;
  font-size: var(--p);
  position: relative;
}

/* Positionnement cible unique */
.FloatLeft {
    float: left;
    margin: 0rem 1.25rem; /* 0px 20px 0px 20px */
}
.FloatRight {
    float: right;
    margin: 0rem 1.25rem; /* 0px 20px 0px 20px */
}

/* Positionnement et dimension image avec float */
/* Po = Portrait */
.FloatLeftImg_Po {
    float: left;
    width: calc(100% - 2.5rem); /* 100% - 40px */
    padding: 0rem 1.25rem; /* 0px 20px 0px 20px */
    margin: 0rem;
    @media (min-width: 450px) {
        width: 280px; /* 280px */
        max-width: 40%; /* 40% de la largeur du parent */
        margin: 0rem; /* 0px 0px 0px 0px */
    }
}

.FloatRightImg_Po {
    float: right;
    width: calc(100% - 2.5rem); /* 100% - 40px */
    margin: 0rem 1.25rem 1.25rem 1.25rem; /* 0px 20px 0px 20px */
    @media (min-width: 28.125rem) { /* 450px */
        width: 340px; /* 280px */
        max-width: 40%; /* 40% de la largeur du parent */
        margin: 0rem 1.25rem; /* 0px 20px 0px 20px */
    }
}

/* Pa = Paysage */
.FloatLeftImg_Pa {
    float: left;
    width: calc(100% - 2.5rem); /* 100% - 40px */
    padding: 0rem 1.25rem; /* 0px 20px 0px 20px */
    margin: 0rem;
    @media (min-width: 28.125rem) { /* 450px */
        width: 370px; /* 280px */
        max-width: 50%; /* 40% de la largeur du parent */
        margin: 0rem; /* 0px 0px 0px 0px */
    }
}

.FloatRightImg_Pa {
    float: right;
    width: calc(100% - 2.5rem); /* 100% - 40px */
    margin: 0rem 1.25rem 1.25rem 1.25rem; /* 0px 20px 0px 20px */
    @media (min-width: 400px) {
        width: 370px; /* 280px */
        max-width: 50%; /* 40% de la largeur du parent */
        margin: 0rem 1.25rem; /* 0px 20px 0px 20px */
    }
}

/* Image avec figcaption dans un container figure */
.ImgOnFigure {
    width: 100%;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.Figcaption {
  width: 100%;
  text-align: center;
  margin: 0rem;
  font-weight: bold;
  font-size: var(--p);
}

/*-------------------------------------*/
/* Autre style spéciaux */

.OmbreLeft {
    box-shadow: rgba(0, 0, 0, 0.3) -8px 8px 16px;
}

.OmbreRight {
    box-shadow: rgba(0, 0, 0, 0.3) 8px 8px 16px;
}

/* Espacement des blocs */
.br {
    width: 100%;
    margin: 0rem;
    padding: 1.25rem 0rem 0rem 0rem; /* 20px 0px 0px 0px */
}

/*-------------------------------------*/
/* Style video*/
.ContainerVideo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: calc(100% - 2.5rem);
    padding: 1.25rem; /* 20px */
}

.VideoTitle {
    font-size: var(--h3);
    font-weight: bold;
    text-align: center;
    margin: 0rem 0rem 1.125rem 0rem; /* 0px 0px 18px 0px */
}

.VideoPlayer {
    width: 100%;
    max-width: 1280px; /* limite propre FHD */
    border-radius: 12px;
    background-color: #000; /* évite un flash blanc avant affichage du poster */
}

.VideoDescription {
    text-align: center;
    margin: 0.5rem 0rem 0rem 0rem; /* 8px 0px 16px 0px */
    font-size: var(--p);
    color: var(--ColorTextGray);
}

/*-------------------------------------*/
.Button {
    /* Il faudra mettre par défaut margin et padding à 0 */
    background: none;   /* Supprime l’arrière-plan du bouton (souvent gris par défaut) */
    border: none;       /* Supprime les bordures (souvent visibles sur les boutons natifs) */
    outline: none;      /* Supprime le contour par défaut du bouton */
    font: inherit;      /* Utilise la même police que son parent (au lieu de la police par défaut du navigateur) */
    color: inherit;     /* Utilise la même couleur de texte que son parent */
    cursor: pointer;    /* Affiche un curseur en forme de main pour indiquer qu’il est cliquable */
}

.TargetText1 {
    padding: 1.25rem 0rem; /* 20px 0px 20px 0px */
}

.IconLucide {
    width: 1.4rem; /* 22px */
    height: 1.4rem; /* 22px */
}

.CheckLucide {
    color: var(--ColorTextPurple);

}

.SpanLucide {
    display: flex;
    justify-content: start;
    align-items: center;
}
