.CompteRoot {
    /* min-height: 100vh; */
    display: flex;
    justify-content: start;
    flex-direction: column;
    align-items: center;
}

/* Bouton en haut à droite */
.TopBar {
    width: calc(100% - 4rem);
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem 0 2rem;
}

/* Titre centré */
.Title {
    font-size: 2rem;
    font-weight: bold;
    margin: 1.5rem 0;
    text-align: center;
}

/* Cartes */
.ContainerCard {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.125rem; /* 2px */
    padding: 2rem;
}
@media (min-width: 62.5rem) { /* 1000px */
    .ContainerCard {
        gap: 0.625rem; /* 10px */
    }
}
