.FloatLeftImg_Po {
    float: left;
    width: calc(100% - 2.5rem); /* 100% - 40px */
    padding: 0rem 1.25rem; /* 0px 20px 0px 20px */
    margin: 0rem;
    @media (min-width: 450px) {
        width: 280px; /* 280px */
        max-width: 40%; /* 40% de la largeur du parent */
        margin: 0rem; /* 0px 0px 0px 0px */
    }
}