/* Base du composant HomePC */
.HomeMobile {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0px;
    border: 0px;
    margin: 0px;
    width: 100%;
}
@media (min-width: 800.02px) {
    .HomeMobile {
        display: none;
    }
}

