/*Menu Burger*/

/*Position du Menu Burger*/
.sideCloseNav {
    position: fixed;
    top: 0px;
    left: -100vw;
    z-index: var(--z-index_9);
    width: 100vw;
    height: 100vh;
    background-color: transparent;
    background: none;
    padding: 0px;
    margin: 0px;
    border: 0px;
    outline: none;
    opacity: 0;
    cursor: pointer;

    /* Masquer le texte de manière propre et accessible */
    text-indent: -9999px;
    white-space: nowrap;
    overflow: hidden;
    color: transparent;
}

.sideCloseNav.active {
    left: 0;
}

.sideNav {
    /* width: 250px; */
    height: 100%;
    position: fixed;
    z-index: var(--z-index_10);
    top: 0;
    right: -250px;
    background-color: var(--BackgroudMenuBurger); /*-------------------------------------------------*/
    transition: right 0.5s ease;
    box-shadow: var(--box-shadow);
    border-left: 1px solid var(--borderWhite);
}

.sideNav.active {
    right: 0;
}

/*Logique ouverture et fermeture MenuBurger*/
.closeBtn {
    margin: 1rem 0rem 0rem 1rem;
    text-decoration: none;
    text-align: center;
    font-size: 1.8rem;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 50%;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
}
@media (max-width: 250px) {
    #closeBtn {
        padding: 0.3rem 1.2rem;
    }
}
@media (min-width: 250px) and (max-width: 350px) {
    #closeBtn {
        padding: 0.4rem 1.35rem;
    }
}

.openBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0.4rem;
    right: 0.5rem;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
}

.menuBurger > span {
    display: block;
    width: 35px;
    height: 5px;
    background-color: var(--textColorMenuBurger);
    margin: 0.5rem 0rem;
}
@media (max-width: 250px) {
    .menuBurger > span {
        width: 30px;
        height: 4px;
    }
}
@media (min-width: 250px) and (max-width: 350px) {
    .menuBurger > span {
        width: 32px;
        height: 4;
    }
}

/*-----------------------------------------------*/

/*Contenu du Menu Burger*/
.sideNav>div {
    display: flex;
    justify-content: start;
    padding: 0rem 0rem 3rem 0rem;

}

/*Bouttons language drapeaux*/

.sideNav > section {
    display: flex;
    justify-content: start;
    align-items: center;
    margin: 2rem 0rem 0rem 0rem;
    width: 100%;
}
@media (max-width: 250px) {
    .sideNav > section {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100vw;
    }
}
@media (min-width: 250px) and (max-width: 350px) {
    .sideNav > section {
        display: flex; 
        justify-content: center;
        align-items: center;
        width: 100%;
    }
}
