.TitleH3 {
    font-size: var(--h3); /* 20px */
    text-align: start;
    font-family: var(--font-family-title);
    font-weight: var(--font-weight-title);
    font-style: var(--font-style-title);
    font-display: swap;
    color: var(--ColorBlack);
    width: calc(100% - 3rem); /* 100% - 48px */
    margin: 0rem 1.5rem; /* 0px 24px 0px 24px */
    border: 0;
    padding: 0;
}