.TitleH3 {
    font-size: var(--h3); /* 20px */
    text-align: start;
    font-family: var(--font-family-title);
    font-weight: var(--font-weight-title);
    font-style: var(--font-style-title);
    font-display: swap;
    color: var(--ColorTextBlack);
    width: calc(100% - 2.5rem); /* 100% - 40px */
    margin: 0rem 1.25rem; /* 0px 20px 0px 20px */
    border: none;
    padding: 0rem;
}
