/* Container Principale */
.NavTargetHomePC {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0px;
    padding: 0px;
}

/* Container Logo */
.ContainerLogoNavTargetHomePC {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20rem; /* 320px */
}
@media (min-width: 845px) {
    .ContainerLogoNavTargetHomePC {
        font-size: calc(var(--h1) + 5px);
        width: 20.625rem; /* 330px */
    }
}
@media (min-width: 1000px) {
    .ContainerLogoNavTargetHomePC {
        font-size: calc(var(--h1) + 5px);
        width: 23.4375rem; /* 375px */
    }
}

.TitleNavTargetHomePC {
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(100% - 1.5rem);
    margin: 1.5625rem 0rem 0.125rem 1.5rem; /* 25px 0px 2px 24px */
}
@media (min-width: 845px) {
    .TitleNavTargetHomePC {
        width: calc(100% - 2rem);
        margin: 1.5625rem 0rem 0.125rem 2rem; /* 25px 0px 2px 48px */
    }
}
@media (min-width: 1000px) {
    .TitleNavTargetHomePC {
        width: calc(100% - 3rem);
        margin: 1.5625rem 0rem 0.125rem 3rem; /* 25px 0px 2px 48px */
    }
}

.TitleNavTargetHomePC > a {
    font-size: var(--h1);
    color: var(--textColorMenu);
    font-family: AnneSignature;
    font-weight: 300;
    font-style: normal;
    font-display: swap;
    text-decoration: none;
    width: 100%;
}

/* ---------- ---------- ---------- ----------- ----------- */

/* Container Navigation */
.ContainerNavigationNavTargetHomePC {
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(100% - 20rem); /* 100% - 320px */
}
@media (max-width: 845px) {
    .ContainerNavigationNavTargetHomePC {
        width: calc(100% - 20.625); /* 100% - 330px */
    }
    
}
@media (min-width: 1000px) {
    .ContainerNavigationNavTargetHomePC {
        width: calc(100% - 23.4375rem); /* 100% - 375px */
    }
    
}
