/* Container Principale */
.NavTargetHomePC {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0px;
    padding: 0px;
    background-color: var(--backgroundwhite);
}
@media (max-width: 800px) {
    .NavTargetHomePC {
        display: none;
    }
}

/* Container Logo */
.ContainerLogoNavTargetHomePC {
    display: flex;
    justify-content: center;
    align-items: center;
}

.TitleNavTargetHomePC {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 0px 0px 48px;
}
@media (min-width: 800px) and (max-width: 845px) {
    .TitleNavTargetHomePC {
        margin: 0px 0px 0px 24px;
    }
}
@media (min-width: 845px) and (max-width: 895px) {
    .TitleNavTargetHomePC {
        margin: 0px 0px 0px 32px;
    }
}

.TitleNavTargetHomePC > a {
    font-size: var(--h1);
    font-family: AnneSignature;
    font-weight: normal;
    color: var(--ColorPrincipal);
    text-decoration: none;
    width: 295px;
}
/* Container Navigation */
.ContainerNavigationNavTargetHomePC {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 600px;
}
@media (max-width: 845px) {
    .ContainerNavigationNavTargetHomePC {
        width: calc(100% - 295px - 24px);
    }
    
}
@media (min-width: 845px) and (max-width: 895px) {
    .ContainerNavigationNavTargetHomePC {
        width: 500px;
    }
    
}
@media (min-width: 895px) and (max-width: 945px) {
    .ContainerNavigationNavTargetHomePC {
        width: 550px;
    }
    
}