/* Container Principale */
.NavTargetHomePC {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0px;
    padding: 0px;
}

/* Container Logo */
.ContainerLogoNavTargetHomePC {
    display: flex;
    justify-content: center;
    align-items: center;
}

.TitleNavTargetHomePC {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 25px 0px 0px 24px;
}
@media (min-width: 800px) {
    .TitleNavTargetHomePC {
        margin: 25px 0px 0px 32px;
    }
}
@media (min-width: 845px) {
    .TitleNavTargetHomePC {
        margin: 25px 0px 0px 48px;
    }
}

.TitleNavTargetHomePC > a {
    font-size: var(--h1);
    color: var(--textColorMenu);
    font-family: AnneSignature;
    /* font-family: "Saira Condensed", sans-serif; */
    font-weight: 300;
    font-style: normal;
    font-display: swap;
    text-decoration: none;
    width: 295px;
}
@media (min-width: 1000px) {
    .TitleNavTargetHomePC > a {
        font-size: calc(var(--h1) + 5px);
        width: 350px;
    }
}
/* Container Navigation */
.ContainerNavigationNavTargetHomePC {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 600px;
}
@media (max-width: 845px) {
    .ContainerNavigationNavTargetHomePC {
        width: calc(100% - 295px - 24px);
    }
    
}
@media (min-width: 845px) and (max-width: 895px) {
    .ContainerNavigationNavTargetHomePC {
        width: 500px;
    }
    
}
@media (min-width: 895px) and (max-width: 945px) {
    .ContainerNavigationNavTargetHomePC {
        width: 550px;
    }
    
}