.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 1.875rem; /* 30px */
    width: calc(100vw - 5rem); /* 100vw - 80px */
    height: calc((100vw - 5rem) * (2 / 3)); /* 100vw - 80px */
    margin: 0;
    padding: 2.5rem; /* 40px */
}
@media (max-width: 800.02px) {
    .container {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        width: calc(100vw - 5rem); /* 100vw - 80px */
        height: calc((100vw - 5rem) * (3 / 2)); /* 100vw - 80px */
    }
}
@media (min-width: 1200px) {
    .container {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        width: 75rem; /* 1200px */
        height: 50rem; /* 800px */
    }
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    overflow: hidden;
    text-decoration: none;
    font-weight: bold;
    color: var(--ColorWhite);
    width: 100%;
    height: 100%;
    margin: 0;
    border: 0;
    padding: 0;
    transition: transform 0.3s ease-in-out;
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.2);
}

/* Effet de survol */
.card:hover {
    transform: scale(1.05);
}

/* Image en background */
.image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

/* Overlay pour améliorer la lisibilité */
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4); /* Assombrit légèrement */
    z-index: -1;
}

.title {
    font-size: calc(var(--h2) - 0.125rem); /* 22px */
    text-align: center;
    margin: 0;
    border: 0;
    padding: 0;
    z-index: 1;
}
@media (max-width: 359.02px) {
    .title {
        font-size: var(--h4);
    }
}
@media (min-width: 359.02px) and (max-width: 399.02px) {
    .title {
        font-size: var(--h3);
    }
}

.name {
    font-size: var(--h3);
    text-align: center;
    margin: 0;
    border: 0;
    padding: 0;
    z-index: 1;
}
@media (max-width: 359.02px) {
    .name {
        font-size: var(--h5);
    }
}
@media (min-width: 359.02px) and (max-width: 399.02px) {
    .name {
        font-size: var(--h3);
    }
}
